<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.hs.emirim.lyn.carrying">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".plusItemPopUp"
            android:screenOrientation="unspecified"
            android:theme="@style/popupTheme" />
        <activity android:name=".check_list" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login.FindPassword" />
        <activity android:name=".Login.GuestActivity" />
        <activity android:name=".Login.RegisterActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Login.SignInActivity" />
        <activity android:name=".Change_info" />
        <activity android:name=".create_list" />
        <activity android:name=".Main_List" />
    </application>

</manifest>